// font-weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

// z-indicies
$zi-shop-card: 1;
$zi-mini-card-notify: 1;
$zi-favorites-button: 2;
$zi-dropdown: 3;
$zi-tabbar: 3;
$zi-header: 4;
$zi-burger: 4;
$zi-categories-menu: 5;
$zi-slideover: 5;
$zi-search: 5;
